/*!
 *  Vesper Icons font. Copyright 2014-2015 KK Vesper
 *
 * Vesper Icons is fully compatible with FontAwesome version 4.x
 */
@font-face {
  font-family: 'Vesper Icons';
  src: url('../fonts/vesper-icons-webfont.eot?v=5.9.11');
  src: url('../fonts/vesper-icons-webfont.eot?#iefix&v=5.9.11') format('embedded-opentype'),
       url('../fonts/vesper-icons-webfont.woff2?v=5.9.11') format('woff2'),
       url('../fonts/vesper-icons-webfont.woff?v=5.9.11') format('woff'),
       url('../fonts/vesper-icons-webfont.ttf?v=5.9.11') format('truetype'),
       url('../fonts/vesper-icons-webfont.svg?v=5.9.11#vesper_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.vs {
  display: inline-block;
  font-family: 'Vesper Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vs.pull-left {
  margin-right: .3em;
}
/* Vesper uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.vs-0-square:before {
  content: "0";
}
.vs-1-square:before {
  content: "1";
}
.vs-2-square:before {
  content: "2";
}
.vs-3-square:before {
  content: "3";
}
.vs-4-square:before {
  content: "4";
}
.vs-5-square:before {
  content: "5";
}
.vs-6-square:before {
  content: "6";
}
.vs-7-square:before {
  content: "7";
}
.vs-8-square:before {
  content: "8";
}
.vs-9-square:before {
  content: "9";
}
.vs-10-square:before {
  content: "\f067";
}
.vs-a-square:before {
  content: "A";
}
.vs-b-square:before {
  content: "B";
}
.vs-c-square:before {
  content: "C";
}
.vs-d-square:before {
  content: "D";
}
.vs-e-square:before {
  content: "E";
}
.vs-f-square:before {
  content: "F";
}
.vs-g-square:before {
  content: "G";
}
.vs-h-square:before {
  content: "H";
}
.vs-i-square:before {
  content: "I";
}
.vs-j-square:before {
  content: "J";
}
.vs-k-square:before {
  content: "K";
}
.vs-l-square:before {
  content: "L";
}
.vs-m-square:before {
  content: "M";
}
.vs-n-square:before {
  content: "N";
}
.vs-o-square:before {
  content: "O";
}
.vs-p-square:before {
  content: "P";
}
.vs-q-square:before {
  content: "Q";
}
.vs-r-square:before {
  content: "R";
}
.vs-s-square:before {
  content: "S";
}
.vs-t-square:before {
  content: "T";
}
.vs-u-square:before {
  content: "U";
}
.vs-v-square:before {
  content: "V";
}
.vs-w-square:before {
  content: "W";
}
.vs-x-square:before {
  content: "X";
}
.vs-y-square:before {
  content: "Y";
}
.vs-z-square:before {
  content: "Z";
}
.vs-face-allergy:before {
  content: "\f000";
}
.vs-baby:before {
  content: "\f001";
}
.vs-butterfly:before {
  content: "\f002";
}
.vs-calendar-alt:before {
  content: "\f003";
}
.vs-clock:before {
  content: "\f004";
}
.vs-clock-alt:before {
  content: "\f005";
}
.vs-cutlery:before {
  content: "\f006";
}
.vs-face-dislike:before {
  content: "\f007";
}
.vs-edit-page:before {
  content: "\f008";
}
.vs-floors:before {
  content: "\f009";
}
.vs-gantt:before {
  content: "\f00a";
}
.vs-gantt-o:before {
  content: "\f00b";
}
.vs-globe:before {
  content: "\f00c";
}
.vs-hourglass:before {
  content: "\f00d";
}
.vs-id-card:before {
  content: "\f00e";
}
.vs-keyboard:before {
  content: "\f010";
}
.vs-face-like:before {
  content: "\f011";
}
.vs-moon:before {
  content: "\f012";
}
.vs-p:before {
  content: "\f013";
}
.vs-person:before {
  content: "\f014";
}
.vs-sex-female:before {
  content: "\f015";
}
.vs-sex-male:before {
  content: "\f016";
}
.vs-shop:before {
  content: "\f017";
}
.vs-smoking:before {
  content: "\f018";
}
.vs-speech:before {
  content: "\f019";
}
.vs-spinner:before {
  content: "\f01a";
}
.vs-table:before {
  content: "\f01b";
}
.vs-table-o:before {
  content: "\f01c";
}
.vs-table-alt:before {
  content: "\f01d";
}
.vs-tables:before {
  content: "\f01e";
}
.vs-profile:before {
  content: "\f021";
}
.vs-user-suit:before {
  content: "\f022";
}
.vs-user-suit-female:before {
  content: "\f023";
}
.vs-user-waiter:before {
  content: "\f024";
}
.vs-user-waiter-female:before {
  content: "\f025";
}
.vs-user-boss:before {
  content: "\f026";
}
.vs-calendar:before {
  content: "\f027";
}
.vs-sleep:before {
  content: "\f028";
}
.vs-sun:before {
  content: "\f029";
}
.vs-sleep-square:before {
  content: "\f02a";
}
.vs-walk:before {
  content: "\f02b";
}
.vs-comment:before {
  content: "\f02c";
}
.vs-sunrise:before {
  content: "\f02d";
}
.vs-sunrise-o:before {
  content: "\f02e";
}
.vs-file-download:before {
  content: "\f02f";
}
.vs-file-download-o:before {
  content: "\f030";
}
.vs-file-move-o:before {
  content: "\f031";
}
.vs-crown:before {
  content: "\f032";
}
.vs-mobile:before {
  content: "\f033";
}
.vs-comments:before {
  content: "\f034";
}
.vs-user-group:before {
  content: "\f035";
}
.vs-smoking-alt:before {
  content: "\f036";
}
.vs-no-smoking-alt:before {
  content: "\f037";
}
.vs-senior:before, .vs-elderly:before {
  content: "\f038";
}
.vs-clipboard:before {
  content: "\f039";
}
.vs-sofa:before {
  content: "\f03a";
}
.vs-cat-face:before {
  content: "\f03b";
}
.vs-neko:before {
  content: "\f03c";
}
.vs-neko-sleep:before {
  content: "\f03d";
}
.vs-ninja:before {
  content: "\f03e";
}
.vs-language:before {
  content: "\f03f";
}
.vs-comment-bubble:before {
  content: "\f040";
}
.vs-no-comment-bubble:before {
  content: "\f041";
}
.vs-sms:before {
  content: "\f042";
}
.vs-window:before {
  content: "\f043";
}
.vs-tablesolution:before, .vs-tablecheck:before {
  content: "\f044";
}
.vs-clip-note:before, .vs-paperclip-note:before {
  content: "\f045";
}
.vs-magnet-note:before {
  content: "\f046";
}
.vs-sticky-note:before {
  content: "\f047";
}
.vs-whiteboard:before {
  content: "\f048";
}
.vs-table-question:before {
  content: "\f049";
}
.vs-clip-note-o:before, .vs-paperclip-note-o:before {
  content: "\f04a";
}
.vs-flower:before {
  content: "\f04b";
}
.vs-rose:before {
  content: "\f04c";
}
.vs-cow:before {
  content: "\f04e";
}
.vs-pig:before {
  content: "\f04f";
}
.vs-chicken:before {
  content: "\f050";
}
.vs-fish:before {
  content: "\f051";
}
.vs-drumstick:before {
  content: "\f052";
}
.vs-kanji-yubi:before {
  content: "\f059";
}
.vs-kanji-chu:before {
  content: "\f05a";
}
.vs-kanji-utage:before {
  content: "\f05b";
}
.vs-line:before {
  content: "\f05c";
}
.vs-line-square:before {
  content: "\f05d";
}
.vs-chair:before {
  content: "\f05e";
}
.vs-chair-alt:before {
  content: "\f05f";
}
.vs-highchair:before {
  content: "\f060";
}
.vs-naver:before {
  content: "\f061";
}
.vs-naver-square:before {
  content: "\f062";
}
.vs-kakao:before {
  content: "\f063";
}
.vs-kakao-square:before {
  content: "\f064";
}
.vs-kakaotalk:before {
  content: "\f065";
}
.vs-kakaotalk-square:before {
  content: "\f066";
}
.vs-lock:before {
  content: "\f068";
}
.vs-necktie:before {
  content: "\f069";
}
.vs-stroller:before {
  content: "\f06a";
}
.vs-wedding-cake:before {
  content: "\f06b";
}
.vs-male-female:before {
  content: "\f06c";
}
.vs-pregnant:before {
  content: "\f06d";
}
.vs-mic:before, .vs-microphone:before {
  content: "\f06e";
}
.vs-question-square:before {
  content: "\f06f";
}
.vs-calendar-alt-2:before {
  content: "\f070";
}
.vs-id-badge-alt:before {
  content: "\f071";
}
.vs-id-card-alt:before {
  content: "\f072";
}
.vs-party:before {
  content: "\f073";
}
.vs-timeslots:before {
  content: "\f074";
}
.vs-timeslot:before {
  content: "\f075";
}
.vs-timeslot-question:before {
  content: "\f076";
}
.vs-wine:before {
  content: "\f077";
}
.vs-wine-o:before {
  content: "\f078";
}
.vs-door-closed:before {
  content: "\f079";
}
.vs-door-open:before {
  content: "\f07a";
}
.vs-grapes:before {
  content: "\f07b";
}
.vs-black-card:before {
  content: "\f07c";
}
